@import "../../Colors/colors.scss";

$headerBorderBottom: 2px solid gray;
$headerPadding: 0.5em 1em;

$optionFontSize: 1.1em;
$profileSize: 2em;
$profileGap: 2em;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $headerPadding;
    border-bottom: $headerBorderBottom;
    font-family: "Space Grotesk";
    .logo {
        position: relative;
        color: #82bcf3;
        background-color: #023047;
        border-radius: 0.4em;
        padding: 0.3em 0.6em;
        font-weight: 500;

        .e {
            color: white;
            font-weight: 300;
        }

        &::after {
            content: "";
            position: absolute;
            width: 0px;
            height: 0px;
            bottom: -0.5em;
            left: 0;
            border: 0.5em solid transparent;
            border-top: 0.5em solid #023047;
            border-left: 0.5em solid #023047;
        }
    }
    .options {
        display: flex;
        align-items: center;
        gap: $profileGap;
        font-size: $optionFontSize;

        .option {
            cursor: pointer;
            &::after {
                content: "";
                position: absolute;
                bottom: -0.3em;
                left: 0;
                width: 0%;
                height: 0.1em;
                background-color: $selectBorder;
                transition: all 0.3s;
            }
        }
        .selected {
            position: relative;
            color: $darkText;
            font-weight: 600;
            &::after {
                width: 100%;
            }
        }
        .profile {
            border-radius: 50%;
            border: 1px solid $borderColor;
            width: $profileSize;
            height: $profileSize;
            cursor: pointer;
        }
    }
}
