@import "../../Colors/colors.scss";

.formaContainer {
    display: grid;
    justify-content: center;
    align-items: center;

    .forma {
        display: grid;
        gap: 1em;

        .inputContainer {
            display: grid;
            width: 20em;

            .textAreaContainer {
                input {
                    display: none;
                }
            }

            label {
                font-size: 1.2rem;
                margin-bottom: .5em;
            }

            input {
                position: relative;
                display: inline-block;
                width: calc(100%);

                padding: .5em;
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: #fff;
                cursor: pointer;
                text-align: left;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
                font-size: 1.2rem;

                &:focus,
                &:active {
                    border: 0.1em solid $selectBorder;
                    background-color: #eeeeee;
                }

                &:hover {
                    cursor: pointer;
                    background-color: #eeeeee;
                }
            }

        }

        .razredi-options {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;

            .radio-list {
                display: flex;
                justify-content: center;
                gap: 1.2em;
                position: relative;

                .razredi-btn {
                    border: 0.15em solid $borderColor;
                    border-radius: 0.25em;
                    background-color: transparent;
                    padding: 0.25em 0.5em;
                    transition: 0.2s;
                    cursor: pointer;
                    text-align: center;
                    background-color: #ffffff;

                    &:hover {
                        border: 0.15em solid $selectBorder;
                        background-color: #eeeeee;
                    }
                }

                .selectedOption {
                    border: 0.15em solid $selectBorder;
                }
            }
        }

        .submit-btn {
            border: 0.15em solid $borderColor;
            border-radius: 0.25em;
            background-color: #fff;
            padding: 0.25em 0.5em;
            transition: 0.2s;
            cursor: pointer;
            text-align: center;
            font-size: 1.2rem;
            width: calc(100% + 1em);

            &:hover {
                border: 0.15em solid $selectBorder;
                background-color: #eeeeee;
            }
        }
    }
}